
* {
    margin: 0px;
    padding: 0px;
    border: 0px;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
    background-color: #41B3A3;
}


@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&display=swap');
h1{ 
position: absolute;
font-weight: 100;
margin-left: 30px;
margin-top: 40px;
text-decoration: none;

}


@import url('https://fonts.googleapis.com/css2?family=Syne:wght@500&display=swap');
.navbar{
    font-weight: 300;
    font-size: 16px;
    text-decoration: none;
    color: #2F4F4F;
    margin-top: 20px;  

}
.container{
display: flex;
justify-content: flex-end;
align-items: center;
padding: 30px  5%;
}

.navbar{
    display: inline-block;
    padding: 0 30px;
    transition: all 0.3s ease 0s;
}
.navbar:hover{
   color: cornflowerblue;
}

.skolinfo {
    position: absolute;
    margin-top: 130px;
    margin-left: 30px;
}

.backgrundsbild {
    width: 100%;
    height: auto;

}
.backgrundsbild1 {
    height: 500px;
    width: 500px;

}
.collage{
    display: flex;
    position: absolute;
    justify-content: space-around;
    padding: 20px 0%;

    
}

.forza{
    max-width: 100%;
    height: auto;
    height: 300px;
    width: 300px;
    border-radius: 210px;
    padding: 10px; 
    width: auto;
}

.img_wrap{
position: relative;
height: 300px;
width: 300px;
padding: 10px;
height: auto;
border-radius:0px;
max-width: 100%;
}

.image_txt{
    position: absolute;
    top:50%;
    bottom:auto;
    padding: 6px;
    border-radius: 10px;
    left: 50%;
    background: rgb(34, 252, 161);
    color:black;    
    visibility: hidden;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;

    transition: opacity .2s, visibility .2s;

}
.img_wrap:hover .image_txt{
    visibility: visible;
    opacity: 1;
}


.gym{
    max-width: 100%;
    height: auto;
    height: 300px;
    width: 300px;
    border-radius: 25px;
    padding: 10px;
}



.handboll {
    max-width: 100%;
    height: auto;
    height: 300px;
    width: 300px;
    border-radius: 25px;
    padding: 10px;
}

.netflix{
    max-width: 100%;
    height: auto;
    height: 300px;
    width: 300px;
    border-radius: 210px;
    padding: 10px;
  
}
